
p {
  padding-left: 30px;
  padding-right: 30px;
  
 
}
h1 {
    padding-left: 30px;
    padding-right: 30px;
    
  }

.pages {

  background-color: white;
  width: 90%;
  margin: auto;
  min-height: 500px;
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-header {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 90%;

}


