body {
background-color:dimgray;
padding: 0px;
margin: auto;
margin-top: 30px;
margin-bottom: 30px;


}

.header {
    width:95%;
    margin: auto;
    background-color:whitesmoke;
}

.pages {
    width:95%;
    background-color:whitesmoke;
    margin: auto;
    padding-left: 10px;
    height:  100vh;
   }
   
   .login {
    margin: 20px;
    max-width: 250px;
   }
   .explore-project {
    margin: 20px;
   }

   .post-list {
    max-height : 300px;
    overflow-y: auto;
    overflow: scroll;
   }

.footer {
    margin: auto;
    width:95%;
    text-align: center;
    background-color:black;
    color: white;

}

.list-group {
    width: 200px;
}